<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <h1 class="display-3">WRONG PASSWORD</h1>
        <p class="lead">GO BACK AND TRY AGAIN</p>
        <hr>
        <i>Made with <font color="red">♥</font> by <a href="https://github.com/harsh-gulati-14">HARSH GULATI </a></i>
    </div>
</div>

<%- include('partials/footer') %>
